

<div class="center-it">
  <asl-google-signin-button type="standard"size="medium"></asl-google-signin-button> <br />
  <span id="texto">Faça login ou <a routerLink="/">solicite aqui o acesso</a> para o painel administrativo</span>
    
 
    <div class="imgs">
      <img src="https://s3-alpha-sig.figma.com/img/cc60/e206/67b9172168ba0c7aadb6262afc98a37a?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IP2f7HxGgM-cFcGQ0GQZDHBiigYO4LdrI4yIFjATAZsTqdk6AMvpiLSjk9txyrLAvJiJMo5FnvLg2qNvGEgs2hJqiL5ZcUHbOVoG8x4uAgW2voyywzlZ-B9yN4HQLwmh0rxbvzeY9HGjSbl0DmYClbJQzNgG29MIN6agw6OBJpatXXysSwpB87FYrNYRJP6HIG5YvKhwMAQnn6TCVc7ww2KydM8iK7E1jYe3CEtGaxfocEyaMIW3E7y-lgHV4eS~6jcGbJ9tn~zXh7aYqGBk5qwaE0mn1rbDFSzYt6~bKWzxihHu9Mfg3pXJ8AmyxHrzJB4oZQ9tlUgbcAYWpwSYqA__" alt="erro" width="250px" height="250px">
    </div>
 
   </div>
   
  
