<app-menu> </app-menu>

<div class="container">
  <div class="carousel-container">
    <div class="title">
      <p>ultimas noticias</p>
    </div>
    <div *ngIf="currentNews">
      <mat-card class="example-card">
        <img
          mat-card-image
          src="{{ currentNews.img }}"
          alt="Photo of a Shiba Inu"
          width="800px"
          height="400px"
        />
        <p>{{ currentNews.title }}</p>
      </mat-card>
    </div>
  </div>
  <div class="botoes">
    <div>
      <button (click)="getPreviousNews()">anterior</button>
    </div>
      <div>
        <button (click)="getNextNews()">proximo</button>
      </div>
  </div>

</div>
<app-map></app-map>
