<div class="titulo-superior">
  <p>cadastro de pessoa</p>
</div>
<div class="container">
  <div class="dados-identificador">
    <p>dados identificador</p>
  </div>
  
  <div class="container-name">
    <div class="nome">
      <mat-form-field>
      <mat-label for="nome"> Nome
         <input matInput type="name" id="nome" name="name" required class="nome"  placeholder="Nome"/>
      </mat-label>
    </mat-form-field>
    </div>
  
    <div class="sobrenome">
      <label for="sobrenome">
        <input type="name" id="nome" name="name" required class="sobrenome"  placeholder="Sobrenome"/>
    </label> 
    </div>
  </div>

  <div class="identidade"></div>
</div>

<button (click)="cadastrar()">Cadastrar</button>
